@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <h3 class="text-danger">Make sure you do not enter invalid data!!!</h3>
    <br />
    <br />
    <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
</div>
