@model SoftUni_CarRental.Models.Models.Car;
@{
    ViewData["Title"] = "Create";
}
<h1 class="new-center">Create</h1>
<hr />
<div class="row new-center">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="Car" asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Model" class="form-label">Model</label>
                <input asp-for="Model" class="form-control" aria-required="true" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDay" class="control-label"></label>
                <input asp-for="PricePerDay" class="form-control" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoorsCount" class="control-label"></label>
                <input asp-for="DoorsCount" class="form-control" />
                <span asp-validation-for="DoorsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengersCount" class="control-label"></label>
                <input asp-for="PassengersCount" class="form-control" />
                <span asp-validation-for="PassengersCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="avatar">Choose a car picture:</label>
                <input type="file"
                       id="avatar" name="avatar"
                       accept="image/png, image/jpeg">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
        <script type="text/javascript">
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>
    }
</div>

