<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <div class="hero inner-page" style="background-image: url('images/hero_1_a.jpg');">

        <div class="container">
            <div class="row align-items-end ">
                <div class="col-lg-5">

                    <div class="intro">
                        <h1><strong>About</strong></h1>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
                    <img src="images/hero_2.jpg" alt="Image" class="img-fluid rounded">
                </div>
                <div class="col-lg-4 mr-auto">
                    <h2>Car Company</h2>
                    <p>CarRental is one of the largest car companies in Bulgaria. The company maintains over 1500 cars for rent and over 250 work places. It is respected and preferred, not only because of the quality and accuracy, but also because of the pleasant environment and quality service.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center text-center mb-5 section-2-title">
                <div class="col-md-6">
                    <h2 class="mb-4">Meet Our Team</h2>
                </div>
            </div>
            <div class="row align-items-stretch">

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 person-1">

                        <img src="images/person_1.jpg" alt="Image"
                             class="img-fluid">

                        <div class="post-entry-1-contents">
                            <span class="meta">Founder</span>
                            <h2>Vasil Iliev</h2>
                            <p>He founded the CarRental company in 2010.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 person-1">

                        <img src="images/person_2.jpg" alt="Image"
                             class="img-fluid">

                        <div class="post-entry-1-contents">
                            <span class="meta">Chief Accountant</span>
                            <h2>Anna Kostova</h2>
                            <p>She has been the chief accountant of the company since its inception.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 person-1">

                        <img src="images/person_3.jpg" alt="Image"
                             class="img-fluid">

                        <div class="post-entry-1-contents">
                            <span class="meta">Assistant Manager</span>
                            <h2>Eva Ivaylova</h2>
                            <p>She has been part of the CarRental team for 8 years.</p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 person-1">

                        <img src="images/person_4.jpg" alt="Image"
                             class="img-fluid">

                        <div class="post-entry-1-contents">
                            <span class="meta">Automotive Technician</span>
                            <h2>Todor Ivanov</h2>
                            <p>He has been working in the company for 10 years and trains new staff to join his team.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 person-1">

                        <img src="images/person_5.jpg" alt="Image"
                             class="img-fluid">

                        <div class="post-entry-1-contents">
                            <span class="meta">Sales Associate</span>
                            <h2>Sofia Mileva</h2>
                            <p>She has worked hard at CarRental since its inception.</p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="post-entry-1 h-100 person-1">

                        <img src="images/person_1.jpg" alt="Image"
                             class="img-fluid">

                        <div class="post-entry-1-contents">
                            <span class="meta">Vehicle Inspector</span>
                            <h2>Ivan Donchev</h2>
                            <p>He has been part of the CarRental team for 8 years.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img src="images/hero_1.jpg" alt="Image" class="img-fluid rounded">
                </div>
                <div class="col-lg-4 ml-auto">
                    <h2>Our History</h2>
                    <p>1.Inception (2010): Founded by innovative entrepreneurs, CarRental aimed to revolutionize car rentals.</p>
                    <p>2.Tech-First Approach (2010-2015): Invested in a user-friendly app and website for seamless bookings.</p>
                    <p>3.Expansion & Disruption (2016-2018): Expanded to major cities, disrupting the traditional rental market.</p>
                    <p>4.Sustainable Initiatives (2019-2022): Introduced eco-friendly vehicles and "GreenDrive" carbon offset program.</p>
                    <p>5.Subscription Services (2023): Launched "DrivePass" monthly subscription for hassle-free transport.</p>
                    <p>6.Global Reach (Present): Now a global brand, offering reliable services worldwide.</p>
                    <p>7.Corporate Social Responsibility (CSR): Committed to philanthropy, community projects, and road safety.</p>
                    <p>
                        CarRental: Empowering journeys through technology, sustainability, and customer-centricity.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-primary py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-4 mb-md-0">
                    <h2 class="mb-0 text-white">What are you waiting for?</h2>
                </div>
                <div class="col-lg-5 text-md-right">
                    <a asp-controller="Listing" asp-action="Index" class="btn btn-primary">Rent Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
